@import "../../Variables.scss";

.navBar {
  width: 100%;
  background-color: $secondColor;
  display: flex;
  justify-content: flex-start;
  gap: 5%;
  align-items: center;
}

.logo {
  width: 40vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.addRestaurant {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 0.2rem;
  border-radius: 10rem;
  font-size: 0.5rem;
  font-family: $fontBold;
  @media screen and (min-width: 400px) {
    font-size: 1rem;
    padding: 1rem;
  }
}
