@import "../../Variables.scss";

body {
  background-color: $primaryColor;
  overflow: scroll;
}

.cardRestaurantAll {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.buttonFilter {
  display: flex;
  justify-content: flex-start;
  gap: 0.8rem;
  margin: 1rem;
  @media screen and (min-width: 400px) {
    gap: 2rem;
  }
}
