@import "../../Variables.scss";

.filter {
  all: unset;
  font-size: 0.8rem;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
    background-color: $secondColor;
    border-radius: 10rem;
    padding: 0.5rem;
  }
  @media screen and (min-width: 400px) {
    font-size: 1rem;
  }
}

.isClicked {
  background-color: $secondColor;
}
